<html>
    <body bgcolor=#a3aed4>

        <center>

        <h1> 뇌졸중 진단앱입니다! </h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> 성별 :<select class="form-select", name="성별">
               <option value="">남자면1을 여자면2를 골라주세요!</option>
               <option value="">1</option>
               <option value="">2</option>
           </select> <br><br>
            나이 :  <input type="number", name='age', placeholder="enter 1"> <br><br>
            고혈압 :<select class="form-select",name="고혈압">
                <option value="">고혈압이면 1을 아니면 0을 골라주세요!</option>
                <option value="">1</option>
                <option value="">0</option>
            </select><br><br>
            심장병 :<select class="form-select",name="심장병">
                <option value="">심장병이 있으시면 1을 없으시면 0을 골라주세요!</option>
                <option value="">1</option>
                <option value="">0</option>
            </select><br><br>
            혈당 :  <input type="number", name='avg_glucose_level', placeholder="enter 2"> <br><br>
            bmi :  <input type="number", name='bmi', placeholder="enter 3">  <br><br><br></b>
            <input type="submit" , value='결과확인' >
        </form>

        
    </center>

    </body>
</html>